<div *ngIf="error">{{ error }}</div>

<div class="list-container" *ngIf="cars$ | async as cars">
  <div class="list-button-container">
    <button mat-flat-button color="primary" (click)="openAddCarDialog()">
      Add Car
    </button>
  </div>
  <div class="list-content-container" *ngFor="let car of cars">
    <mat-card class="car-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{ car.Make }}</mat-card-title>
          <mat-card-subtitle>{{ car.Model }}</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <img
          mat-card-lg-image
          src="{{ renderImageURL(car) }}"
          alt="image of a car"
        />
      </mat-card-content>
      <mat-card-footer>
        <button mat-flat-button color="primary" (click)="deleteCar(car)">
          Delete Car
        </button>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
